{% extends 'base.html'%}
{% block content %}

<body>
    <h1 align="center" class="text-capitalize"> {{id}} </h3>
        <div class="container-fluid">
            <div class="cards-columns">
                {% for article in articles %}
                <div class="card" style=" width:100%; margin-bottom:5%; margin-left:0%;">
                    <div class="card-header">
                        {{article.title}}
                    </div>
                    <div class="card-body">
                        <img src="{{article.urlToImage}}" alt="{{article.title}}" style="width:100%;" />
                        <p><b><i>Written by: </i></b>{{article.author}}</p>
                        <p><b><i>Published at: </i></b> {{article.publishedAt}}</p>
                    </div>
                    <div class="card-footer">
                        <b><i>Get More@: </i></b><a href="{{article.url}}">{{article.name}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</body>
{% endblock %}