{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!--Style block-->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!--Content block-->
{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-title">
      <h2>Top General News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(general)}}</h4>
      <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Sports News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(sports)}}</<h4>
        <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Entertainment News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(entertainment)}}</h4>
      <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Business News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(business)}}</h4>
      <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Technology News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(technology)}}</h4>
      <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Health News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(health)}}</h4>
      <hr>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Top Science News Sources</h2>
    </div>
    <div class="card-content">
      <h4>{{ macro.displayArticlesList(science)}}</h4>
      <hr>
    </div>
  </div>
</div>
<div class="footer">
  <h3 class="text-center text-info">©Collins Akumu@2020</h3>
</div>

{% endblock %}