{% macro displayArticlesList(articles_list) %}

{% for article in articles_list %}
<div class="row">
    <ul>
        <li style="font-size:115%;"><a href="/article/{{article.id}}">{{article.name}}</a></li>
    </ul>
</div>
{% endfor %}

{% endmacro %}

{% macro displayArticleList(articles_list)%}
{% for article in articles_list %}
<div class="card" style="height:auto; width:50%; margin-bottom:5%; margin-left:0%;">
    <div class="card-header">
        {{article.title}}
    </div>
    <div class="card-body">
        <img src="{{article.urlToImage}}" alt="{{article.title}}" style="width:100%;" />
        <h4><b><i>Written By </i></b>{{article.author}}</h4>
        <h4><b><i>Published On </i></b> {{article.publishedAt}}</h4>
    </div>
    <div class="card-footer">
        <h3><b><i>Get More Information @ </i></b><a href="{{article.url}}">{{article.name}}</a></h3>
    </div>
</div>
</div>
<div class="footer">
    <h3 class="text-center text-info">©Collins Akumu@2020</h3>
</div>
{% endfor %}
{% endmacro %}