{% macro displayArticlesList(articles_list) %}

{% for article in articles_list %}
<div class="row">
    <ul>
        <li style="font-size:115%;"><a href="/article/{{article.id}}">{{article.name}}</a></li>
    </ul>
</div>
{% endfor %}

{% endmacro %}

{% macro displayArticleList(articles_list)%}
{% for article in articles_list %}
<div class="card" style="height:auto; width:50%; margin-bottom:5%; margin-left:0%;">
    <div class="card-header">
        {{article.title}}
    </div>
    <div class="card-body">
        <img src="{{article.urlToImage}}" alt="{{article.title}}" style="height:200px; width:200px;" />
        <p><b><i>Written by: </i></b>{{article.author}}</p>
        <p><b><i>Description: </i></b> {{article.description}}</p>
        <p><b><i>Published at: </i></b> {{article.publishedAt}}</p>
    </div>
    <div class="card-footer">
        <b><i>Get More@: </i></b><a href="{{article.url}}">{{article.name}}</a>
    </div>
</div>
{% endfor %}
{% endmacro %}