<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">News Highlights</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
                <a  href="/{{'categories/General'}}">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Business'}}">Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Technology'}}">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Science'}}">Science</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Sports'}}">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Entertainment'}}">Entertainment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{'categories/Health'}}">Health</a>
              </li>
      </div>
  </div>
</div>